
/* Everything above the form desgin  */
.imageANDTextContainer {
    position: relative;
}

.rowWITHHeaderANDOrderList {
    position: absolute; 
}

.orderingHeader{ 
    font-family: 'Oxygen', sans-serif;
    padding-left: 15px; 
    margin-top: 35px; 

}

li {
    margin: 5px; 
}

.orderStepList {
    padding-top: 5px; 
    font-family: 'Oxygen', sans-serif;
}

.cactusImage {
    width: 100%; 
    margin-top: 145px; 
    margin-bottom: 20px; 
}


/* Start of the form desgins  */
form{ 
    /* border: 2px solid black;  */
    font-family: 'Oxygen', sans-serif;
}

.smallDefaultText {
    font-size: 12px; 
    color: lightgray; 
}

.newFormSection{
    margin-bottom: 20px; 
}

.customizeQuestion {
    margin-bottom: 15px; 
    font-size: 17px; 
}

/* The below are for the buttons on the form  */
.buttonGroup {
    margin-bottom: 7px; 
}

.toggleBTN {
    background-color: white; 
    border: solid 1px #ca6316; 
    color: #3a1707;
    font-size: 16px; 
}

/* This is the notes area within the form  */
.notesArea{
    border: #e3b098 dotted 3px; 
}

/* Add drinnk to cart button */
.addDrinkToCartBTN {
    border: 1px solid #e49b7f; 
    background: #e3b098; 
    color: #3a1707; 
    margin-top: 20px; 
   margin-bottom: 20px; 
}