
form{ 
    border: 2px solid black; 
    font-family: 'Oxygen', sans-serif;
}

.smallDefaultText {
    font-size: 10px; 
    color: lightgray; 
}

.newFormSection{
    margin-bottom: 30px; 
}

.notesArea{
    border: #e3b098 dotted 1px; 
}

.addDrinkToCartBTN {
    border: 1px solid #e49b7f; 
    background: #e3b098; 
    margin-top: 20px; 
    color: #3a1707; 
}

.bottomTextonIMG{
    font-family: 'Oxygen', sans-serif;
    margin-top: 25px; 
}