html, body {
    height: 100%; 
    display: block; 
}

.coffee-image {
    height: 150px; 
    width: 150px; 
    border-radius: 50%; 
    margin-top: 10px; 
}


/* Content within the Cofee Card  */
.coffee-name{
    margin-bottom: 0px; 
}

.coffee-type {
    font-family: 'Pavanam', sans-serif;
    margin-top: 0px; 
   margin-bottom: 5px; 
   font-style: italic;
   font-size: 12px; 
}
.coffee-description {
    font-family: 'Pavanam', sans-serif;
}
.coffee-price {
    font-family: 'Pavanam', sans-serif;
}
.coffee-order-btn {
    font-family: 'Pavanam', sans-serif;
}






