
.eventCards {
    background-color: #f3e9e6; 
    margin-bottom: 15px; 
    border: dotted 1px #ce784d; 
    margin-right: 5px; 
    margin-left: 5px; 
    box-shadow: 2px 2px 10px #3a1707;
}

.cardImage{
    width: 100%; 
}

.nameText{
    font-size: 25px; 
    text-align: center; 
    font-family: 'Oxygen', sans-serif;
}

.descriptionText{ 
    padding-top: 5px; 
    font-size: 15px; 
    text-align: center; 
    font-family: 'Oxygen', sans-serif;
}