.navbar {
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 5px; 
    background-color: #ffe2d4; 
}

.nav-Header {
    font-family: 'Oxygen', sans-serif;  
    font-size: 25px;   
    color: #ca6316;
}

.cartBTN{
    border: 1px solid #e49b7f; 
    background: #e3b098; 
    margin-top: 20px; 
    color: #3a1707; 
    margin: 10px; 
}

.link {
    color: #ca6316; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.loginANDLoginINBTN {
    color: #3a1707; 
    padding-top: 10px; 
    padding-bottom: 10px;  
    background-color: #e3b098; 
    border: 1px solid #3a1707; 
    margin-top: 2px; 
}
